<<<<<<< HEAD
body {
    background-color: #FFFFFF;
    font-family: cursive;
}    

=======
body {
    background-color: #FFFFFF;
    font-family: cursive;
}    

>>>>>>> d4fcfce98615d149c30fc6f6fc69794cea07c872
